<div class="info-modal" id="infoModal" aria-hidden="true">
  <div class="info-modal__backdrop" data-modal-close></div>
  <section class="info-modal__panel" role="dialog" aria-modal="true" aria-labelledby="infoModalTitle" tabindex="-1">
    <button class="info-modal__close" type="button" data-modal-close aria-label="Fermer la fiche">×</button>
    <div id="infoModalContent"></div>
  </section>
</div>
