<nav class="navbar navbar-expand-lg portfolio-navbar">
  <div class="container">
    <a class="navbar-brand brand-mark" href="/">
      <img src="/images/came.png" alt="Logo <%= siteProfile.name %>">
      <span><%= siteProfile.name %></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Ouvrir la navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="/projets">Projets</a></li>
        <li class="nav-item"><a class="nav-link" href="/etudes">Etudes</a></li>
        <li class="nav-item"><a class="nav-link" href="/jobs">Experiences</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        <% if (user && user.role === "admin") { %>
          <li class="nav-item"><a class="btn btn-sm btn-dark ms-lg-2" href="/admin">Admin</a></li>
          <li class="nav-item">
            <form action="/desauthentification" method="POST" class="ms-lg-2 mt-2 mt-lg-0">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="btn btn-sm btn-outline-dark" type="submit">Logout</button>
            </form>
          </li>
        <% } else { %>
          <li class="nav-item"><a class="btn btn-sm btn-outline-dark ms-lg-2" href="/authentification">Admin</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
