<section class="content">
  <div class="text-center">
    <img src="/images/henoc.jpg" alt="Logo Portfolio" class="img-fluid photo" style="max-width: 80%; height: auto;">
  </div>
  <div>
    <h1 class="text-center">Salut !</h1>
    <h2 class="card-text text justify-text"><%- description %></h2>
  </div>
</section>

<%- include('diplomes') %>

<%- include('certifications') %>