<section class="content">

  <% if (typeof user !== "undefined" && user.role === "admin") { %>

    <div class="position-absolute top-0 end-0 p-3 d-flex gap-2">
        <button class="custom-btn edit-btn">
            📝
        </button>
  </div>
  
  <% } %>

  <div class="text-center">
    <img src="<%= henoc_photo %>" alt="Logo Portfolio" class="img-fluid photo" style="max-width: 80%; height: auto;">
  </div>
  <div>
    <h1 class="text-center">Salut !</h1>
    <h2 class="card-text text justify-text"><%- description %></h2>
  </div>
</section>

<%- include('diplomes') %>

<%- include('certifications') %>