<section class="content text-center">
  <h1 class="text-warning">Erreur 400 - Mauvaise requête</h1>
  <p>Votre requête contient une erreur.</p>
  <a href="/" class="btn btn-light">Retour à l'accueil</a>
</section>
