<section class="content text-center">
  <h1 class="text-danger">Erreur 500 - Erreur serveur</h1>
  <p>Une erreur inattendue s'est produite sur le serveur.</p>
  <a href="/" class="btn btn-warning">Retour à l'accueil</a>
</section>
